body {
	background: #234;
	color: #BBC;
}

.login input, 
.login button {
	color:#FFF;
    background: #234;
}

.login button {
	background: #AD1457;
	border: 10px double #234;
}

.login button:hover {
    border: 10px double #234;
}

.att {
	color: #FFEB3B;
}